<!-- Navbar  -->
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
      <div class="col-md-3"><img src="../../assets/logo.png" alt=""></div>
      <button class=" bg-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="col-md-6 menumenu">
        <div class="collapse navbar-collapse mainmenu" id="navbarNav">
          <div class=""></div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Company</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">IT Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 d-flex button-search-bag align-self-end">
        <span class=" d-none d-sm-none d-md-block material-symbols-outlined">shopping_bag</span>
        <span class=" d-none d-sm-none d-md-block material-symbols-outlined">
          search
        </span>
        <button type="button" class=" d-none d-sm-none d-md-block btn btn-primary"><b>Free Consultancy</b></button>
      </div>
    </div>
  </nav>
</header>